:host {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.login-container {
    width: 40%;
    margin: 0;
}

.login-card {
    align-items: center;
    text-align: center;
}
.login-header {
    font-size: 5vh;
    font-weight: bold
}

ion-item {
  margin-top: 12px;
}

ion-text p {
  margin: 5px 0 0 8px;
  font-size: 12px;
}

ion-button {
  margin-top: 20px;
}
